
<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="container">
        <form [formGroup]="buscarFilmes">
            <ion-item>
                <ion-input [formControl]="buscarFilmes.controls['filme']" placeholder="Pesquise filmes aqui"></ion-input>
            </ion-item>
        </form>
    </div>
    <div class="buttonPesquisa">
        <button type="submit">
      <ion-icon name="search-outline"></ion-icon>
    </button>
    </div>

    <div class="movieRowList" *ngIf='recommendationMovie'>
        <h2>Recomendados</h2>

        <ion-slides initialSlide="0" slidesPerView="1.2" freeMode="true" speed="1000" paginationClickable="true" #mySlider >
            <ion-slide *ngFor="let filme of recommendationMovie.results">
                <div class="movieImgRecomendado">
                  <img src= '{{"https://image.tmdb.org/t/p/w300" + filme.poster_path }}' />
                </div>
                <ion-item class="titleMovieRecomendado" no-lines>
                    {{filme.name || filme.title}}
                </ion-item>
                <ion-item class="genreMovieRecomendado" no-lines>
                    {{filme.vote_average}}
                </ion-item>
            </ion-slide>
        </ion-slides>

        <h2>Em alta</h2>

        <ion-slides initialSlide="0" slidesPerView="1.6" freeMode="true" speed="1000" paginationClickable="true" #mySlider>
            <ion-slide *ngFor="let filme of topRatedMovie.results">
                <div class="movieImgGeral">
                    <img src='{{"https://image.tmdb.org/t/p/w300" + filme.poster_path }}' />
                </div>
                <ion-item class="titleMovieGeral" no-lines> {{filme.name || filme.title}} </ion-item>
                <ion-item class="genreMovieGeral" no-lines> {{filme.vote_average}} </ion-item>
            </ion-slide>
        </ion-slides>

        <h2>Comédia</h2>

        <ion-slides initialSlide="0" slidesPerView="1.6" freeMode="true" speed="1000" paginationClickable="true" #mySlider>
            <ion-slide *ngFor="let filme of comedyMovie.results">
                <div class="movieImgGeral">
                    <img src='{{"https://image.tmdb.org/t/p/w300" + filme.poster_path }}' />
                </div>
                <ion-item class="titleMovieGeral" no-lines> {{filme.name || filme.title}} </ion-item>
                <ion-item class="genreMovieGeral" no-lines> {{filme.vote_average}} </ion-item>
            </ion-slide>
        </ion-slides>

        <h2>Ação</h2>

        <ion-slides initialSlide="0" slidesPerView="1.6" freeMode="true" speed="1000" paginationClickable="true" #mySlider>
            <ion-slide *ngFor="let filme of actionMovie.results">
                <div class="movieImgGeral">
                    <img src='{{"https://image.tmdb.org/t/p/w300" + filme.poster_path }}' />
                </div>
                <ion-item class="titleMovieGeral" no-lines> {{filme.name || filme.title}} </ion-item>
                <ion-item class="genreMovieGeral" no-lines> {{filme.vote_average}} </ion-item>
            </ion-slide>
        </ion-slides>

    </div>
</ion-content>
