
<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <!-- input de busca do ionic -->
    <ion-searchbar (ionInput)="searchbarFilme($event)"></ion-searchbar>

    <!-- Lista de resultado da busca -->
    <div class="movieRowList" *ngIf="resultSearch.length > 0">
        <ion-list>
            <ion-item *ngFor="let filme of resultSearch">
                <ion-thumbnail item-start class="poster">
                    <img [src]='"https://image.tmdb.org/t/p/w300" + filme.poster_path'>
                </ion-thumbnail>
                <h2>{{filme.name || filme.title}}</h2>
                <p>{{filme.vote_average}}</p>
            </ion-item>
          </ion-list>
    </div>

    <!-- Lista de filmes -->
    <div class="movieRowList" *ngIf="resultSearch.length == 0">
        <h2>Recomendados</h2>

        <ion-slides initialSlide="0" slidesPerView="1.2" freeMode="true" speed="1000" paginationClickable="true" #mySlider >
            <ion-slide *ngFor="let filme of recommendationMovie?.results">
                <div class="movieImgRecomendado">
                  <img [src]= '"https://image.tmdb.org/t/p/w300" + filme.poster_path' />
                </div>
                <ion-item class="titleMovieRecomendado" no-lines>
                    {{filme.name || filme.title}}
                </ion-item>
                <ion-item class="genreMovieRecomendado" no-lines>
                    {{filme.vote_average}}
                </ion-item>
            </ion-slide>
        </ion-slides>

        <h2>Em alta</h2>
        <!-- <mov-movieList *ngIf="topRatedMovie !== undefined" [topRatedMovie]="topRatedMovie"></mov-movieList> -->
        <mov-movieList></mov-movieList>
        <ion-slides initialSlide="0" slidesPerView="1.6" freeMode="true" speed="1000" paginationClickable="true" #mySlider>
            <ion-slide *ngFor="let filme of topRatedMovie?.results">
                <div class="movieImgGeral">
                    <img [src]='"https://image.tmdb.org/t/p/w300" + filme.poster_path' />
                </div>
                <ion-item class="titleMovieGeral" no-lines> {{filme.name || filme.title}} </ion-item>
                <ion-item class="genreMovieGeral" no-lines> {{filme.vote_average}} </ion-item>
            </ion-slide>
        </ion-slides>

        <h2>Comédia</h2>

        <ion-slides initialSlide="0" slidesPerView="1.6" freeMode="true" speed="1000" paginationClickable="true" #mySlider>
            <ion-slide *ngFor="let filme of comedyMovie?.results">
                <div class="movieImgGeral">
                    <img [src]='"https://image.tmdb.org/t/p/w300" + filme.poster_path' />
                </div>
                <ion-item class="titleMovieGeral" no-lines> {{filme.name || filme.title}} </ion-item>
                <ion-item class="genreMovieGeral" no-lines> {{filme.vote_average}} </ion-item>
            </ion-slide>
        </ion-slides>

        <h2>Ação</h2>

        <ion-slides initialSlide="0" slidesPerView="1.6" freeMode="true" speed="1000" paginationClickable="true" #mySlider>
            <ion-slide *ngFor="let filme of actionMovie?.results">
                <div class="movieImgGeral">
                    <img [src]='"https://image.tmdb.org/t/p/w300" + filme.poster_path' />
                </div>
                <ion-item class="titleMovieGeral" no-lines> {{filme.name || filme.title}} </ion-item>
                <ion-item class="genreMovieGeral" no-lines> {{filme.vote_average}} </ion-item>
            </ion-slide>
        </ion-slides>

    </div>

</ion-content>
