.backgroundMovie {
  height: 50%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 0%,
    rgba(4, 4, 4, 0.747333) 28.65%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  .iconsMovie {
    display: flex;
    justify-content: space-between;
    button {
      z-index: 9999;
      font-size: 40px;
      background: transparent;
      color: #fff;
    }
  }

  .imgMovie {
    margin-top: -50px;
    width: 100%;
    height: 100%;
  }
}

.moreInformationMove {
  position: absolute;
  z-index: 9;
  border-radius: 40px;
}

.play {
  margin-top: -50px;
  .buttonPlay {
    padding-left: 8px;
    font-size: 45px;
    display: inline-block;
    text-decoration: none;
    background: #fffffd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    .icon-play {
      line-height: 100px;
      display: inline-block;
    }
  }
}

.moreInformationMove {
  align-items: center;
  .titleAndNote {
    flex: 1;
    display: flex;
    overflow: visible;
    justify-content: space-between;
    .note {
      margin-top: 2%;
      padding: 5%;
      font-size: 27px;
      font-weight: 600;
      color: #22883e;
    }
  }
}

.description {
  margin-top: -20px;
  color: #1c4384;
  font-size: 18px;
}

.addAndRemoveList {
  width: 100%;
  margin-top: -25px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  ion-icon {
    font-size: 35px;
    font-weight: 600;
  }

  .buttonList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #22883e;
    height: 56px;
    width: 40%;
    border-radius: 10px;
    border: 0;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    transition: background-color 0.2s;
  }

  .buttonPlay {
    ion-icon {
      font-size: 30px;
      font-weight: 600;
    }

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #162320;
    height: 56px;
    width: 40%;
    border-radius: 10px;
    border: 0;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
  }
}
