<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Detalhe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="backgroundMovie">
        <div class="iconsMovie">
            <button (click)="previousPage()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </button>
            <button>
                <ion-icon name="bookmark-outline"></ion-icon>
            </button>
            <!-- <img src="" alt=""> -->
        </div>
        <img class='imgMovie' [src]='"https://image.tmdb.org/t/p/w300" + posterPath'>
    </div>
    <div class="moreInformationMove">
        <div class="titleAndNote">
            <div>
                <p padding-left class="titleMovieRecomendado" no-lines>{{titleFilme}}</p>
                <p padding-left class="genreMovieRecomendado" no-lines>Gênero</p>
            </div>

            <p padding-right class="note">{{voteAverage}}</p>
        </div>

        <p padding class='description'>{{overview}}</p>
        <div padding class='addAndRemoveList'>
            <button class='buttonList' (click)="list()" [ngStyle]="{
                'background-color': (isAddList ? '#B52824' : '#22883e')
            }">
                <ng-container *ngIf="isAddList">
                    <ion-icon name="remove-outline"></ion-icon>Lista
                </ng-container>
                <ng-container *ngIf="!isAddList">
                    <ion-icon name="add-outline"></ion-icon>Lista
                </ng-container>
            </button>

            <button class='buttonPlay'>
                <ion-icon name="play"></ion-icon>
                <p>Play</p>
            </button>
        </div>

    </div>
</ion-content>
